<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/index.css" />
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <h1>
          <img src="http://www.kiweb.or.kr/images/main_new/logo_new_2018.png" alt="" />
        </h1>
        <div class="nav-container">
          <nav>
            <ul class="dep1">
              <li>
                <a href="./introduction.html">학교소개</a>
                <div class="dep2">
                  <ul>
                    <li>
                      <a href="#">인사말</a>
                    </li>
                    <li>
                      <a href="#">연혁</a>
                    </li>
                    <li>
                      <a href="#">교직원소개</a>
                    </li>
                    <li>
                      <a href="#">시설소개</a>
                    </li>
                    <li>
                      <a href="#">오시는 길</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">교육과정</a>
                <div class="dep2">
                  <ul>
                    <li>
                      <a href="#">과정안내</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">취업정보</a>
                <div class="dep2">
                  <ul>
                    <li>
                      <a href="#">취업자인터뷰</a>
                    </li>
                    <li>
                      <a href="#">취업현황</a>
                    </li>
                    <li>
                      <a href="#">포트폴리오</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">커뮤니티</a>
                <div class="dep2">
                  <ul>
                    <li>
                      <a href="#">공지사항</a>
                    </li>
                    <li>
                      <a href="#">수강후기</a>
                    </li>
                    <li>
                      <a href="#">KI이야기</a>
                    </li>
                    <li><a href="#">KI기자단</a></li>
                    <li><a href="#">교수칼럼</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">상담신청</a>
                <div class="dep2">
                  <ul>
                    <li><a href="#">상담게시판</a></li>
                    <li><a href="#">상담게시판</a></li>
                    <li><a href="#">자주묻는질문</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <h2>
          <img src="http://www.kiweb.or.kr/images/common/snb_img.png" alt="" />
        </h2>
      </div>
    </header>
    <script src="./public/js/index.js"></script>
  </body>
</html>
